{% extends 'accounts/layout.html' %}


{% block content %}


    {% include 'accounts/navbar.html' %}


<head>
    <title>Add Photo</title>
</head>

<body>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Назад</a>
                <div class="card">


                    <form method='POST' action="" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group m-3">
                            <label>Име на снимката</label>
                            <input required name="description" type="text" placeholder="Описание"
                                class="form-control">
                        </div>

                        <div class="form-group m-3">
                            <label>Категория</label>
                            <select name="category" class="form-control">
                                <option value='none'>Изберете категория...</option>

                                {% for category in categories %}
                                <option value='{{category.id}}'>{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <div class="form-group m-3">
                            <label>Създайте нова категория</label>
                            <input name="category_new" type="text" placeholder="Име на нова категория"
                                class="form-control">
                        </div>

                        <div class="form-group m-3">
                            <label>Избери снимка</label>
                            <input required name="images" type="file" multiple class="form-control-file">
                        </div>

                        <button type='submit' class="btn btn-primary m-3">Запази</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>



{% endblock content %}
