{% extends 'accounts/layout.html' %}


{% block content %}


    {% include 'accounts/navbar.html' %}

    <head>
        <title>Галерия</title>
    </head>

    <body>

    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="card">
                    <div class="card-header">
                        Категории
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %}">Всички</a>
                        </li>
                        {% for category in categories %}
                            <li class=" list-group-item">
                                <a href="{% url 'gallery' %}?category={{ category.name }}">
                                    {{ category.name }}
                                </a>
                            </li>
                        {% endfor %}


                        <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Добави снимка</a>

                    </ul>
                </div>

            </div>
            <div class="col-md-9">
                <div class="row">

                    {% for photo in photos %}
                        <div class="col-md-4">
                            <div class="card my-2">
                                <img class="image-thumbail" src="{{ photo.image.url }}" alt="Card image cap">

                                <div class="card-body">
                                    <small>Category: {{ photo.category.name }}</small>
                                </div>
                                <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">Преглед</a>
                                <a href="/photo/delete/{{ photo.id }} " class="btn btn-danger">Изтрий</a>
                            </div>
                        </div>
                    {% empty %}
                        <h3>No photos...</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    </body>



{% endblock content %}
