{% extends 'accounts/layout.html' %}


{% block content %}


    {% include 'accounts/navbar.html' %}

<head>
    <title>Снимки</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">

                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Назад</a>

                <div style="height: 90vh;">
                    <img style="max-width: 100%; max-height: 100%;" src="{{photo.image.url}}">

                    <p>{{photo.description}}</p>
                </div>

            </div>
        </div>
    </div>

</body>



{% endblock content %}
