{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<title> Julieta </title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css"href="{% static '/css/main.css' %}" >
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="navbar-header animated fadeInUp logo ">

        <img src="{% static 'images/needle-logo.png' %}">


    </div>
{% include 'accounts/navbar.html' %}

{% block content %}


{% endblock %}

</body>

</html>
