{% load static %}

<nav class="main-navigation">
    <div class="navigation">
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="/" class="nav-link">Начало</a>
            </li>
            <li class="nav-list-item">
                <a href="/storage" class="nav-link">Склад</a>
            </li>
            <li class="nav-list-item">
                <a href="/todo" class="nav-link">Задачи</a>
            </li>
            <li class="nav-list-item">
                <a href="/gallery" class="nav-link">Галерия</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Контакти</a>
            </li>
        </ul>
    </div>
</nav>
