{% extends 'accounts/layout.html' %}


{% block content %}


    {% include 'accounts/navbar.html' %}


    <form method="POST" action="">
        {% csrf_token %}
        {{ form.errors }}

        <div class="row bold_labels ">
            <div class="col-2">
                <div class="form-group text-center">
                    <label>Вид</label>
                    <input class="form-control" type="text" name='name' placeholder='Име' value="{{ product.name }}"/>

                </div>
            </div>
            <div class="col-2">
                <div class="form-group text-center">
                    <label>Доставчик</label>
                    <input class="form-control" type="text" name='supplier' placeholder='Доставчик'
                           value="{{ product.supplier }}"/>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group text-center">
                    <label>кв.м</label>
                    <input class="form-control" type="number" step="0.1" min="0" name='square_meters'
                           placeholder='метри' value="{{ product.square_meters }}"/>

                </div>
            </div>
            <div class="col-1">
                <div class="form-group text-center">
                    <label>Брой</label>
                    <input class="form-control" type="number" min="0" name='quantity' placeholder='Брой'
                           value="{{ product.quantity }}"/>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group text-center">
                    <label>Цена (лв.)</label>
                    <input class="form-control" type="number" step="0.1" min="0" name='price' placeholder='Цена'
                           value="{{ product.price }}"/>
                </div>
            </div>
            <div class=" col-2">
                <div class="form-group text-center">
                    <label>Бележки</label>
                    <textarea name="notes" placeholder="Описание" class="form-control">{{ product.notes }}</textarea>
                </div>
            </div>
            <div class="col-2">
                <label>&nbsp;</label>
                <button class="btn btn-success float-right btn-block" type="submit" name="submit">
                    Редактирай
                </button>
            </div>
        </div>
    </form>

{% endblock content %}


