{% extends 'accounts/layout.html' %}


{% block content %}
{% include 'accounts/navbar.html' %}

    <form method="POST" action="">
        {% csrf_token %}
        {{ form.errors }}

        <div class="row bold_labels ">
            <div class="col-2">
                <div class="form-group text-center">
                    <label>Вид</label>
                    <input class="form-control" type="text" name='name' placeholder='Име'/>

                </div>
            </div>
            <div class="col-2">
                <div class="form-group text-center">
                    <label>Доставчик</label>
                    <input class="form-control" type="text" name='supplier' placeholder='Доставчик'/>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group text-center">
                    <label>Ширина</label>
                    <input class="form-control" type="number" step="0.1" min="0" name='width' placeholder='метри'/>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group text-center">
                    <label>Дължина</label>
                    <input class="form-control" type="number" step="0.1" min="0" name='length' placeholder='метри'/>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group text-center">
                    <label>кв.м</label>
                    <input class="form-control" type="number" step="0.1" min="0" name='square_meters'
                           placeholder='метри'/>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group text-center">
                    <label>Брой</label>
                    <input class="form-control" type="number" min="0" name='quantity' placeholder='Брой'/>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group text-center">
                    <label for="price" >Цена (лв.)</label>
                    <input class="form-control" type="number" step="0.1" min="0" name='price' placeholder='Цена'/>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group text-center">
                    <label>Бележки</label>
                    <textarea name="notes" rows="1" placeholder="Описание" class="form-control" ></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-10">
                <button class="btn btn-success float-right btn-block" type="submit" name="submit">Добави продукт
                </button>
                <label>&nbsp;</label>
            </div>
        </div>
</form>
    {% for message in messages %}
        <p class="alert alert-primary">{{ message }}</p>
    {% endfor %}
<div class="text-center">
    <table class="table">
        <tr>
            <th>Вид</th>
            <th>Доставчик</th>
            <th>Квадратни метра</th>
            <th>Брой</th>
            <th>Цена</th>
            <th>Бележки</th>
            <th>Действия</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.supplier }}</td>
                <td>
                    {% if product.square_meters %}
                        {{ product.square_meters }}
                    {% else %}
                        ------
                    {% endif %}
                </td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.notes }}</td>
                <td>
                    <a href="/storage/edit/{{ product.id }}" class="btn btn-primary">Редакция</a>
                    <a href="/storage/delete/{{ product.id }} " class="btn btn-danger">Изтрии</a>

                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}


