{% extends 'accounts/layout.html' %}

{% block content %}

    {% include 'accounts/navbar.html' %}
    <br>
    <div class="text-center">
        <h3>Задачи</h3>
    </div>
    <br>

    <div class="container">
        <form method="post" action="" class="form-group">
            {% csrf_token %}
            <div class="input-group">
                <input class="form-control" type="text" name='title' value="{{ todo.title }}"/>
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit" name="submit">Редакция</button>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}
