{% extends 'accounts/layout.html' %}

{% block content %}
    {% include 'accounts/navbar.html' %}
    <br>
    <div class="text-center">
        <h3>Задачи</h3>
    </div>
    <br>
    <div class="input-add">
        <form method="post" action="">
            {% csrf_token %}
            <div class="input-group">
                <input class="form-control" type="text" name='title' placeholder='Име'/>
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit" name="submit">Добави</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="input-table">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Име на задачата</th>
                <th class="text-right">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
                {% if todo.complete %}
                    <tr class="table-success">
                {% else %}
                    <tr>
                {% endif %}

                    <td>{{ todo.id }}</td>
                    <td>{{ todo.title }}</td>
                    <td style="text-align: right">
                        <a class="btn btn-sm btn-success" href="/todo/complete/{{ todo.id }}">Завърши</a>
                        <a class="btn btn-sm btn-danger" href="/todo/delete/{{ todo.id }}">Изтрии</a>
                        <a class="btn btn-sm btn-primary" href="/todo/edit/{{ todo.id }}">Редакция</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock content %}



